<% if @user.errors.any? %>
	<div id="errors">
		<h3><%= pluralize(@user.errors.count, "error") %> prohibited your user information from being saved. </h3>

		<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li> <%= message %> </li>
			<% end %>
		</ul>
	</div>
<%end%>

<%= form_for @user do |f| %>
	
	<%= field_set_tag "Sign up" do %> 
		<%= f.text_field :username, placeholder: "Username" %> <br>

		<%= f.password_field :password, placeholder: "Password" %> <br>
	
		<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %> <br>
		<%= f.submit "Join", class: "submit" %>
	<% end %>

<% end %>