<!DOCTYPE html>
<html>
<head>
  <title>StockVizApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  
    
    <div class="index_header"><h1>stockViz</h1></div>
    
    <div class="index_links">
      <% if session[:current_user_id] %>
        Hello, <%= User.find(session[:current_user_id]).username.capitalize %> <br>
        <%= link_to "LOG OUT", sessions_path, method: :delete %>
      <% else %>
        <%= link_to "SIGN UP", new_user_path %> 
        <%= link_to "LOG IN", login_path %> 
      <% end %>
    </div>
  
  


</body>
</html>

	